<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :email do %>
        Email
        <%= f.text_field :email %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :password do %>
        Password
        <%= f.password_field :password %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :password_confirmation do %>
        Password Confirmatin
        <%= f.password_field :password_confirmation %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
