<p id="notice"><%= notice %></p>

<h1>Runlogs</h1>

<table>
  <thead>
    <tr>
      <th>Run date</th>
      <th>Distance</th>
      <th>Total time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runlogs.each do |runlog| %>
      <tr>
        <td><%= runlog.run_date %></td>
        <td><%= runlog.distance %></td>
        <td><%= runlog.total_time %></td>
        <td><%= link_to 'Show', runlog %></td>
        <td><%= link_to 'Edit', edit_runlog_path(runlog) %></td>
        <td><%= link_to 'Destroy', runlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runlog', new_runlog_path %>
