<p id="notice"><%= notice %></p>

<p>
  <strong>Run date:</strong>
  <%= @runlog.run_date %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @runlog.distance %>
</p>

<p>
  <strong>Total time:</strong>
  <%= Time.at(@runlog.total_time).utc.strftime('%X') %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= shoe_name(@runlog) %>
</p>

<p>
  <strong>Courses:</strong>
  <%= course_name(@runlog) %>
</p>

<%= link_to 'Edit', edit_runlog_path(@runlog) %> |
<%= link_to 'Back', runlogs_path %>
