<p id="notice"><%= notice %></p>

<p>
  <strong>Run date:</strong>
  <%= @runlog.run_date %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @runlog.distance %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @runlog.total_time %>
</p>

<%= link_to 'Edit', edit_runlog_path(@runlog) %> |
<%= link_to 'Back', runlogs_path %>
