<p id="notice"><%= notice %></p>

<p>
  <strong>Run date:</strong>
  <%= @runlog.run_date %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @runlog.distance %>
</p>

<p>
  <strong>Total time:</strong>
  <%= Time.at(@runlog.total_time).utc.strftime('%X') %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= shoe_name(@runlog) %>
</p>

<p>
  <strong>Courses:</strong>
  <%= course_name(@runlog) %>
</p>

<table class="uk-table">
  <thead>
    <tr>
      <th>Lap Number</th>
      <th>Distance</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @runlog.runlog_details.each.with_index do |detail, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= detail.distance %></td>
        <td><%= seconds2mmss(detail.elapsedtime) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_runlog_path(@runlog), class: 'uk-button uk-button-primary' %> |
<%= link_to 'Back', runlogs_path, class: 'uk-button uk-button-default' %>
