<%= form_with(model: shoe, local: true, class: 'uk-form-horizontal') do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
        <% shoe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="uk-grid">
    <div class="uk-width-1-3">
      <div class="field uk-margin">
        <%= form.label :name, class: 'uk-form-label' %>
        <div class='uk-form-controls'>
          <%= form.text_field :name, class: 'uk-input' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions uk-margin">
    <%= form.submit class: 'uk-button uk-button-primary' %>
  </div>
<% end %>
