<%= form_for(@runrecord) do |f| %>
  <% if @runrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runrecord.errors.count, "error") %> prohibited this runrecord from being saved:</h2>

      <ul>
      <% @runrecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :runned_at do %>
        Runned at
        <%= f.text_field :runned_at, class: "datetimepicker", value: I18n.localize(@runrecord.runned_at.utc_to_ja) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :distance do %>
        Distance(km)
        <%= f.text_field :distance %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :run_time do %>
        Run time
        <%= f.text_field :run_time %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
