<h1>Listing runrecords</h1>

<div id="chartdiv" style="height:400px;width:800px; "></div>

<%= form_for(@garmin_log, multipart: true) do |f| %>
  <%= f.file_field "csv_file" %>
  <%= f.button "Upload" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Runned at</th>
      <th>Distance</th>
      <th>Run time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @runrecords.each do |runrecord| %>
      <tr>
        <td><%= I18n.localize(runrecord.runned_at.utc_to_ja) %></td>
        <td><%= runrecord.distance %></td>
        <td><%= runrecord.run_time %></td>
        <td><%= link_to 'Show', runrecord, class: "button tiny" %></td>
        <td><%= link_to 'Edit', edit_runrecord_path(runrecord), class: "button tiny" %></td>
      </tr>
    <% end %>
    <%= paginate @runrecords %>
  </tbody>
</table>

<br>

