<h1>Listing runrecords</h1>

<table>
  <thead>
    <tr>
      <th>Runned at</th>
      <th>Distance</th>
      <th>Run time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @runrecords.each do |runrecord| %>
      <tr>
        <td><%= runrecord.runned_at.utc_to_ja.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <td><%= runrecord.distance %></td>
        <td><%= runrecord.run_time %></td>
        <td><%= link_to 'Show', runrecord, class: "button tiny" %></td>
        <td><%= link_to 'Edit', edit_runrecord_path(runrecord), class: "button tiny" %></td>
      </tr>
    <% end %>
    <%= paginate @runrecords %>
  </tbody>
</table>

<br>

<%= link_to 'New Runrecord', new_runrecord_path %>
