<h1>Listing runrecords</h1>

<table>
  <thead>
    <tr>
      <th>Runned at</th>
      <th>Distance</th>
      <th>Run time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runrecords.each do |runrecord| %>
      <tr>
        <td><%= runrecord.runned_at %></td>
        <td><%= runrecord.distance %></td>
        <td><%= runrecord.run_time %></td>
        <td><%= link_to 'Show', runrecord %></td>
        <td><%= link_to 'Edit', edit_runrecord_path(runrecord) %></td>
        <td><%= link_to 'Destroy', runrecord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runrecord', new_runrecord_path %>
