<p id="notice"><%= notice %></p>

<h1>Runrecords</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Starttime</th>
      <th>Distance</th>
      <th>Runtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runrecords.each do |runrecord| %>
      <tr>
        <td><%= runrecord.starttime %></td>
        <td><%= runrecord.distance %></td>
        <td><%= runrecord.runtime %></td>
        <td><%= link_to 'Show', runrecord, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_runrecord_path(runrecord), class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Destroy', runrecord, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runrecord', new_runrecord_path, class: 'btn btn-secondary' %>
