<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @runrecord.starttime %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @runrecord.distance %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @runrecord.runtime %>
</p>

<%= link_to 'Edit', edit_runrecord_path(@runrecord), class: 'btn btn-secondary' %> |
<%= link_to 'Back', runrecords_path, class: 'btn btn-primary' %>
